*
	margin: 0
	padding: 0

.clearfix:after
	content: "."
	display: block
	clear: both
	visibility: hidden
	height: 0
	
body
	margin: 0 auto
	@media screen and (min-device-width: 980px)
		padding: 0 40px
		max-width: 1286px
		min-width: 1000px
		
	@media screen and (min-device-width: 641px) and (max-device-width: 979px)
		padding: 0 40px
		max-width: 800px

	@media screen and (max-device-width: 640px)
		padding: 0 10px
		width: 300px
		
header
	@media screen and (min-device-width: 980px)
		margin-top: 60px
		
	@media screen and (min-device-width: 720px) and (max-device-width: 979px)
		margin-top: 40px
		
	@media screen and (min-device-width: 641px) and (max-device-width: 719px)
		text-align: center
		margin-top: 40px

#logo
	cursor: pointer
	@media screen and (min-device-width: 980px)
		height: 36px
		margin-top: 0
		width: auto
		display: inline-block
		float: left
		vertical-align: middle
		
	@media screen and (min-device-width: 720px) and (max-device-width: 979px)
		height: 36px
		margin-top: 0
		width: auto
		display: inline-block
		float: left
		vertical-align: middle
		
	@media screen and (min-device-width: 641px) and (max-device-width: 719px)
		width: 300px

	@media screen and (max-device-width: 640px)
		width: 100%
		margin-top: 40px

#search
	height: 30px
	@media screen and (min-device-width: 980px)
		margin-top: 0
		width: auto
		height: 30px
		display: inline-block
		float: right
		vertical-align: middle
		
	@media screen and (min-device-width: 720px) and (max-device-width: 979px)
		margin-top: 0
		width: auto
		height: 30px
		display: inline-block
		float: right
		vertical-align: middle
		
	@media screen and (min-device-width: 641px) and (max-device-width: 719px)
		width: 300px
		margin-top: 40px
		margin-left: auto
		margin-right: auto

	@media screen and (max-device-width: 640px)
		width: 100%
		margin-top: 40px

#searchField
	width: 264px
	line-height: 28px
	border: 1px solid #b3b3b3
	border-radius: 14px
	display: inline-block
	float: left

	font-size: 15px
	font-family: "Arial"
	color: rgb(191, 191, 191)
	text-align: left
	z-index: 3

	img
		vertical-align: middle
		display: inline
		padding-left: 8px
		
	img:hover
		cursor: pointer

#enterBtn
	width: 30px
	line-height: 30px
	display: inline-block
	float: right
	text-align: center

	img
		vertical-align: middle
		display: inline

#enterBtn:hover
	outline: 1px solid #b3b3b3
	cursor: pointer

footer
	text-align: center
	bottom: 0
	@media screen and (min-device-width: 980px)
		margin-top: 100px
	@media screen and (min-device-width: 641px) and (max-device-width: 979px)
		margin-top: 80px
	@media screen and (max-device-width: 640px)
		margin-top: 70px

	img
		vertical-align: top
	img:hover
		cursor: pointer