@font-face
	font-family: newFont
	src: url("../fonts/alsfuchsia.otf")

h1
	font-family: "Arial"
	color: rgb(0, 0, 0)
	font-weight: bold
	text-align: center
	$fontSize: 38px
	$lineHeight: 1.211
	font-size: $fontSize
	line-height: $fontSize * $lineHeight
	margin-top: 40px - ($fontSize * $lineHeight)/4

	@media screen and (min-device-width: 980px)
		$fontSize: 72px
		$lineHeight: 1.167
		font-size: $fontSize
		line-height: $fontSize * $lineHeight
		max-width: 1200px
		margin-top: 60px - ($fontSize * $lineHeight)/4
		margin-left: auto
		margin-right: auto

	@media screen and (min-device-width: 641px) and (max-device-width: 979px)
		width: 400px
		margin-left: auto
		margin-right: auto

	@media screen and (min-device-width: 720px) and (max-device-width: 979px)
		width: 600px

h2
	font-size: 32px
	font-family: "Arial"
	color: rgb(0, 0, 0)
	font-weight: bold
	line-height: 1.688
	text-align: left
	@media screen and (min-device-width: 980px)
		font-size: 42px

h3
	font-size: 24px
	font-family: "Arial"
	color: rgb(0, 0, 0)
	font-weight: bold
	line-height: 1.333