@font-face {
  font-family: newFont;
  src: url("../fonts/alsfuchsia.otf"); }
h1 {
  font-family: "Arial";
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 38px;
  line-height: 46.018px;
  margin-top: 28.4955px; }
  @media screen and (min-device-width: 980px) {
    h1 {
      font-size: 72px;
      line-height: 84.024px;
      max-width: 1200px;
      margin-top: 38.994px;
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (min-device-width: 641px) and (max-device-width: 979px) {
    h1 {
      width: 400px;
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (min-device-width: 720px) and (max-device-width: 979px) {
    h1 {
      width: 600px; } }

h2 {
  font-size: 32px;
  font-family: "Arial";
  color: black;
  font-weight: bold;
  line-height: 1.688;
  text-align: left; }
  @media screen and (min-device-width: 980px) {
    h2 {
      font-size: 42px; } }

h3 {
  font-size: 24px;
  font-family: "Arial";
  color: black;
  font-weight: bold;
  line-height: 1.333; }

* {
  margin: 0;
  padding: 0; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0; }

body {
  margin: 0 auto; }
  @media screen and (min-device-width: 980px) {
    body {
      padding: 0 40px;
      max-width: 1286px;
      min-width: 1000px; } }
  @media screen and (min-device-width: 641px) and (max-device-width: 979px) {
    body {
      padding: 0 40px;
      max-width: 800px; } }
  @media screen and (max-device-width: 640px) {
    body {
      padding: 0 10px;
      width: 300px; } }

@media screen and (min-device-width: 980px) {
  header {
    margin-top: 60px; } }
@media screen and (min-device-width: 720px) and (max-device-width: 979px) {
  header {
    margin-top: 40px; } }
@media screen and (min-device-width: 641px) and (max-device-width: 719px) {
  header {
    text-align: center;
    margin-top: 40px; } }

#logo {
  cursor: pointer; }
  @media screen and (min-device-width: 980px) {
    #logo {
      height: 36px;
      margin-top: 0;
      width: auto;
      display: inline-block;
      float: left;
      vertical-align: middle; } }
  @media screen and (min-device-width: 720px) and (max-device-width: 979px) {
    #logo {
      height: 36px;
      margin-top: 0;
      width: auto;
      display: inline-block;
      float: left;
      vertical-align: middle; } }
  @media screen and (min-device-width: 641px) and (max-device-width: 719px) {
    #logo {
      width: 300px; } }
  @media screen and (max-device-width: 640px) {
    #logo {
      width: 100%;
      margin-top: 40px; } }

#search {
  height: 30px; }
  @media screen and (min-device-width: 980px) {
    #search {
      margin-top: 0;
      width: auto;
      height: 30px;
      display: inline-block;
      float: right;
      vertical-align: middle; } }
  @media screen and (min-device-width: 720px) and (max-device-width: 979px) {
    #search {
      margin-top: 0;
      width: auto;
      height: 30px;
      display: inline-block;
      float: right;
      vertical-align: middle; } }
  @media screen and (min-device-width: 641px) and (max-device-width: 719px) {
    #search {
      width: 300px;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (max-device-width: 640px) {
    #search {
      width: 100%;
      margin-top: 40px; } }

#searchField {
  width: 264px;
  line-height: 28px;
  border: 1px solid #b3b3b3;
  border-radius: 14px;
  display: inline-block;
  float: left;
  font-size: 15px;
  font-family: "Arial";
  color: #bfbfbf;
  text-align: left;
  z-index: 3; }
  #searchField img {
    vertical-align: middle;
    display: inline;
    padding-left: 8px; }
  #searchField img:hover {
    cursor: pointer; }

#enterBtn {
  width: 30px;
  line-height: 30px;
  display: inline-block;
  float: right;
  text-align: center; }
  #enterBtn img {
    vertical-align: middle;
    display: inline; }

#enterBtn:hover {
  outline: 1px solid #b3b3b3;
  cursor: pointer; }

footer {
  text-align: center;
  bottom: 0; }
  @media screen and (min-device-width: 980px) {
    footer {
      margin-top: 100px; } }
  @media screen and (min-device-width: 641px) and (max-device-width: 979px) {
    footer {
      margin-top: 80px; } }
  @media screen and (max-device-width: 640px) {
    footer {
      margin-top: 70px; } }
  footer img {
    vertical-align: top; }
  footer img:hover {
    cursor: pointer; }

.text1 p {
  margin-top: 40px;
  font-size: 24px;
  font-family: "Arial";
  color: #333333;
  line-height: 1.417;
  text-align: center; }
  @media screen and (min-device-width: 980px) {
    .text1 p {
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      max-width: 880px; } }
  @media screen and (min-device-width: 641px) and (max-device-width: 979px) {
    .text1 p {
      margin-left: auto;
      margin-right: auto;
      max-width: 700px; } }

@media screen and (min-device-width: 980px) {
  .text2 {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto; } }
@media screen and (min-device-width: 641px) and (max-device-width: 979px) {
  .text2 {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto; } }
.text2 h2 {
  margin-top: 40px; }
  @media screen and (min-device-width: 980px) {
    .text2 h2 {
      margin-top: 50px; } }
.text2 p {
  font-size: 19px;
  font-family: "Arial";
  color: #333333;
  line-height: 1.684;
  text-align: left;
  margin-top: 30px; }
.text2 span {
  font-style: italic; }

.avatars {
  margin-top: 20px; }
  @media screen and (min-device-width: 980px) {
    .avatars {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto; } }

.avatar {
  float: left;
  text-align: center;
  margin-top: 40px; }
  @media screen and (min-device-width: 980px) {
    .avatar {
      width: 16.6%; } }
  @media screen and (min-device-width: 641px) and (max-device-width: 979px) {
    .avatar {
      width: 33.3%; } }
  @media screen and (max-device-width: 640px) {
    .avatar {
      width: 50%; } }
  .avatar img:hover {
    cursor: pointer; }
  .avatar img:nth-of-type(2) {
    position: absolute;
    margin-left: -118px;
    margin-top: -32px;
    z-index: 1000; }

@media screen and (min-device-width: 980px) {
  .founders, .employees {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto; } }
@media screen and (min-device-width: 641px) and (max-device-width: 979px) {
  .founders, .employees {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto; } }

.founders h2 {
  margin-top: 60px; }
.founders h3 {
  margin-top: 30px; }
@media screen and (min-device-width: 980px) {
  .founders h3:nth-of-type(2) {
    margin-top: 50px; } }
@media screen and (max-device-width: 640px) {
  .founders h3:nth-of-type(2) {
    margin-top: 40px; } }

@media screen and (min-device-width: 980px) {
  .employees h2 {
    margin-top: 70px; }
  .employees h3 {
    margin-top: 50px; }
  .employees h3:nth-of-type(1) {
    margin-top: 30px; } }
@media screen and (max-device-width: 979px) {
  .employees h2 {
    margin-top: 60px; }
  .employees h3 {
    margin-top: 50px; }
  .employees h3:nth-of-type(1) {
    margin-top: 30px; }
  .employees h3:nth-of-type(2) {
    margin-top: 40px; } }

.founders p, .employees > p {
  font-size: 19px;
  font-family: "Arial";
  color: #333333;
  line-height: 1.684;
  text-align: left;
  margin-top: 30px; }

.incut {
  border-top: 1px solid #7d7d7d;
  border-bottom: 1px solid #7d7d7d; }
  @media screen and (min-device-width: 980px) {
    .incut {
      width: 880px;
      position: relative;
      left: -120px;
      margin-top: 50px;
      padding: 50px 0; } }
  @media screen and (min-device-width: 641px) and (max-device-width: 979px) {
    .incut {
      margin-top: 40px;
      padding: 40px 0; } }
  @media screen and (max-device-width: 640px) {
    .incut {
      margin-top: 40px;
      padding: 40px 0; } }
  .incut p {
    font-size: 28px;
    font-family: newFont, "Arial", cursive;
    color: black;
    line-height: 1.5;
    text-align: center; }

footer img:hover {
  cursor: default; }

/*# sourceMappingURL=about-page.css.map */
