@import "font-settings"
@import "body-header-footer"

.text1 p
	margin-top: 40px
	font-size: 24px
	font-family: "Arial"
	color: rgb(51, 51, 51)
	line-height: 1.417
	text-align: center
	@media screen and (min-device-width: 980px)
		margin-top: 50px
		margin-left: auto
		margin-right: auto
		max-width: 880px

	@media screen and (min-device-width: 641px) and (max-device-width: 979px)
		margin-left: auto
		margin-right: auto
		max-width: 700px

.text2
	@media screen and (min-device-width: 980px)
		max-width: 640px
		margin-left: auto
		margin-right: auto

	@media screen and (min-device-width: 641px) and (max-device-width: 979px)
		max-width: 540px
		margin-left: auto
		margin-right: auto

	h2
		margin-top: 40px
		@media screen and (min-device-width: 980px)
			margin-top: 50px
		
	p
		font-size: 19px
		font-family: "Arial"
		color: rgb(51, 51, 51)
		line-height: 1.684
		text-align: left
		margin-top: 30px

	span
		font-style: italic
		
.avatars
	margin-top: 20px
	@media screen and (min-device-width: 980px)
		max-width: 1200px
		margin-left: auto
		margin-right: auto

.avatar
	float: left
	text-align: center
	margin-top: 40px
	
	@media screen and (min-device-width: 980px)
		width: 16.6%

	@media screen and (min-device-width: 641px) and (max-device-width: 979px)
		width: 33.3%
	
	@media screen and (max-device-width: 640px)
		width: 50%
	
	img:hover
		cursor: pointer
		
	img:nth-of-type(2)
		position: absolute
		margin-left: -118px
		margin-top: -32px
		z-index: 1000
		
.founders, .employees
	@media screen and (min-device-width: 980px)
		$pWidth: 640px !global
		max-width: $pWidth
		margin-left: auto
		margin-right: auto

	@media screen and (min-device-width: 641px) and (max-device-width: 979px)
		max-width: 540px
		margin-left: auto
		margin-right: auto
		
.founders
	h2
		margin-top: 60px
	h3
		margin-top: 30px
	@media screen and (min-device-width: 980px)
		h3:nth-of-type(2)
			margin-top: 50px
	@media screen and (max-device-width: 640px)
		h3:nth-of-type(2)
			margin-top: 40px
			
.employees
	@media screen and (min-device-width: 980px)
		h2
			margin-top: 70px
		h3
			margin-top: 50px
		h3:nth-of-type(1)
			margin-top: 30px
	@media screen and (max-device-width: 979px)
		h2
			margin-top: 60px
		h3
			margin-top: 50px
		h3:nth-of-type(1)
			margin-top: 30px
		h3:nth-of-type(2)
			margin-top: 40px

.founders p, .employees > p
	font-size: 19px
	font-family: "Arial"
	color: rgb(51, 51, 51)
	line-height: 1.684
	text-align: left
	margin-top: 30px

.incut
	border-top: 1px solid #7d7d7d
	border-bottom: 1px solid #7d7d7d
	
	@media screen and (min-device-width: 980px)
		$incutWidth: 880px
		width: $incutWidth
		position: relative
		left: -(($incutWidth - $pWidth) / 2)
		margin-top: 50px
		padding: 50px 0

	@media screen and (min-device-width: 641px) and (max-device-width: 979px)
		margin-top: 40px
		padding: 40px 0

	@media screen and (max-device-width: 640px)
		margin-top: 40px
		padding: 40px 0

	p
		font-size: 28px
		font-family: newFont, 'Arial', cursive
		color: rgb(0, 0, 0)
		line-height: 1.5
		text-align: center

footer
	img:hover
		cursor: default