@import "font-settings"
@import "body-header-footer"

#first-book
	margin-left: 30px
	margin-right: 30px
	@media screen and (min-device-width: 980px)
		position: absolute
		text-align: center
	@media screen and (min-device-width: 641px) and (max-device-width: 979px)
		margin-top: 40px
		text-align: center
	@media screen and (max-device-width: 640px)
		margin-top: 40px

	div
		display: inline-block
		position: relative
		width: 100%
		max-width: 500px
		@media screen and (min-device-width: 641px) and (max-device-width: 979px)
			max-width: 400px

	img:nth-child(1)
		width: 100%
		cursor: pointer
		box-shadow: 8px 8px 16px #000000, 20px 20px 40px #000000
		display: block
		position: relative
		z-index: 2

	img:nth-child(2)
		left: 32px
		cursor: pointer
		display: block
		position: absolute
		z-index: 1

	p
		margin-top: 50px
		font-size: 24px
		font-family: "Arial"
		color: rgb(51, 51, 51)
		line-height: 1.417
		text-align: center
		vertical-align: middle
		
		@media screen and (max-device-width: 640px)
			margin-top: 40px

#review
	text-align: center
	font-size: 21px
	font-family: "Arial"
	color: rgb(77, 77, 77)
	line-height: 1.524
	@media screen and (min-device-width: 980px)
		display: block
	@media screen and (min-device-width: 641px) and (max-device-width: 979px)
		margin-top: 60px
		margin-left: auto
		margin-right: auto
		width: 260px
	@media screen and (max-device-width: 640px)
		margin-top: 60px

	> img
		height: 185px
		width: 210px
		margin: 0 auto
		
	p
		font-size: 21px
		font-family: "Arial"
		color: rgb(77, 77, 77)
		line-height: 1.524
		display: inline-block
		width: 218px

	div
		margin-top: 25px
		position: relative
		
		img:first-child
			position: absolute
			top: 0.2em
			left: 0
			display: inline
			vertical-align: middle
			float: left
			
		img:last-child
			position: absolute
			bottom: 0.2em
			right: 0
			float: right

.advantages
	text-align: center
	font-size: 21px
	font-family: "Arial"
	color: rgb(77, 77, 77)
	line-height: 1.524
	@media screen and (min-device-width: 980px)
		display: block
	@media screen and (min-device-width: 641px) and (max-device-width: 979px)
		margin-top: 60px
		margin-left: auto
		margin-right: auto
		width: 260px
	@media screen and (max-device-width: 640px)
		margin-top: 60px
	
	div
		line-height: 185px
		height: 185px
		width: 210px
		margin: 0 auto
		
	img
		position: relative
		vertical-align: middle
		
	p
		font-size: 21px
		font-family: "Arial"
		color: rgb(77, 77, 77)
		line-height: 1.524
		margin-top: 25px
		width: 218px
		margin-left: auto
		margin-right: auto
		
@media screen and (min-device-width: 980px)
	.block
		margin-top: 50px
		height: auto
	
	.leftSide
		width: 260px
		float: left
	
	.rightSide
		width: 260px
		float: right

@media screen and (min-device-width: 641px) and (max-device-width: 979px)
	.block
		width: 100%
		text-align: center
		display: inline-block

	.leftSide
		width: 50%
		float: left
		display: inline-block
	
	.rightSide
		width: 50%
		float: right
		display: inline-block
		
@media screen and (max-device-width: 640px)
	.block
		display: inline-block
		text-align: center
	
	.leftSide
		width: 260px
		display: inline-block
	
	.rightSide
		width: 260px
		display: inline-block

.buyBtn
	margin-top: 30px
	margin-left: auto
	margin-right: auto
	line-height: 116px
	text-align: center
	background: linear-gradient(to top, #613c63, #855987)
	border-radius: 10px
	cursor: pointer
	box-shadow: 0 5px 10px #000000, 0 20px 40px #382539
	
	p
		display: inline-block
		vertical-align: middle
		font-size: 32px
		font-family: "Arial"
		color: rgb(255, 255, 255)
		line-height: 1.167
		
.buyBtn:hover
	background: linear-gradient(to top, #49274b, #c28dc5)
	
.buyBtn:active
	background: linear-gradient(to top, #623a64, #865888)
	box-shadow: 0 1px 2px #000000, 0 5px 10px #382539
	
#skraffi
	margin-top: 30px
	font-size: 15px
	font-family: "Arial"
	color: rgb(220, 220, 220)
	font-style: italic
	line-height: 1.267
	text-align: center
	margin-left: auto
	margin-right: auto
	
	img
		margin-top: 10px