@font-face {
  font-family: newFont;
  src: url("../fonts/alsfuchsia.otf"); }
h1 {
  font-family: "Arial";
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 38px;
  line-height: 46.018px;
  margin-top: 28.4955px; }
  @media screen and (min-device-width: 980px) {
    h1 {
      font-size: 72px;
      line-height: 84.024px;
      max-width: 1200px;
      margin-top: 38.994px;
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (min-device-width: 641px) and (max-device-width: 979px) {
    h1 {
      width: 400px;
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (min-device-width: 720px) and (max-device-width: 979px) {
    h1 {
      width: 600px; } }

h2 {
  font-size: 32px;
  font-family: "Arial";
  color: black;
  font-weight: bold;
  line-height: 1.688;
  text-align: left; }
  @media screen and (min-device-width: 980px) {
    h2 {
      font-size: 42px; } }

h3 {
  font-size: 24px;
  font-family: "Arial";
  color: black;
  font-weight: bold;
  line-height: 1.333; }

* {
  margin: 0;
  padding: 0; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0; }

body {
  margin: 0 auto; }
  @media screen and (min-device-width: 980px) {
    body {
      padding: 0 40px;
      max-width: 1286px;
      min-width: 1000px; } }
  @media screen and (min-device-width: 641px) and (max-device-width: 979px) {
    body {
      padding: 0 40px;
      max-width: 800px; } }
  @media screen and (max-device-width: 640px) {
    body {
      padding: 0 10px;
      width: 300px; } }

@media screen and (min-device-width: 980px) {
  header {
    margin-top: 60px; } }
@media screen and (min-device-width: 720px) and (max-device-width: 979px) {
  header {
    margin-top: 40px; } }
@media screen and (min-device-width: 641px) and (max-device-width: 719px) {
  header {
    text-align: center;
    margin-top: 40px; } }

#logo {
  cursor: pointer; }
  @media screen and (min-device-width: 980px) {
    #logo {
      height: 36px;
      margin-top: 0;
      width: auto;
      display: inline-block;
      float: left;
      vertical-align: middle; } }
  @media screen and (min-device-width: 720px) and (max-device-width: 979px) {
    #logo {
      height: 36px;
      margin-top: 0;
      width: auto;
      display: inline-block;
      float: left;
      vertical-align: middle; } }
  @media screen and (min-device-width: 641px) and (max-device-width: 719px) {
    #logo {
      width: 300px; } }
  @media screen and (max-device-width: 640px) {
    #logo {
      width: 100%;
      margin-top: 40px; } }

#search {
  height: 30px; }
  @media screen and (min-device-width: 980px) {
    #search {
      margin-top: 0;
      width: auto;
      height: 30px;
      display: inline-block;
      float: right;
      vertical-align: middle; } }
  @media screen and (min-device-width: 720px) and (max-device-width: 979px) {
    #search {
      margin-top: 0;
      width: auto;
      height: 30px;
      display: inline-block;
      float: right;
      vertical-align: middle; } }
  @media screen and (min-device-width: 641px) and (max-device-width: 719px) {
    #search {
      width: 300px;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (max-device-width: 640px) {
    #search {
      width: 100%;
      margin-top: 40px; } }

#searchField {
  width: 264px;
  line-height: 28px;
  border: 1px solid #b3b3b3;
  border-radius: 14px;
  display: inline-block;
  float: left;
  font-size: 15px;
  font-family: "Arial";
  color: #bfbfbf;
  text-align: left;
  z-index: 3; }
  #searchField img {
    vertical-align: middle;
    display: inline;
    padding-left: 8px; }
  #searchField img:hover {
    cursor: pointer; }

#enterBtn {
  width: 30px;
  line-height: 30px;
  display: inline-block;
  float: right;
  text-align: center; }
  #enterBtn img {
    vertical-align: middle;
    display: inline; }

#enterBtn:hover {
  outline: 1px solid #b3b3b3;
  cursor: pointer; }

footer {
  text-align: center;
  bottom: 0; }
  @media screen and (min-device-width: 980px) {
    footer {
      margin-top: 100px; } }
  @media screen and (min-device-width: 641px) and (max-device-width: 979px) {
    footer {
      margin-top: 80px; } }
  @media screen and (max-device-width: 640px) {
    footer {
      margin-top: 70px; } }
  footer img {
    vertical-align: top; }
  footer img:hover {
    cursor: pointer; }

#first-book {
  margin-left: 30px;
  margin-right: 30px; }
  @media screen and (min-device-width: 980px) {
    #first-book {
      position: absolute;
      text-align: center; } }
  @media screen and (min-device-width: 641px) and (max-device-width: 979px) {
    #first-book {
      margin-top: 40px;
      text-align: center; } }
  @media screen and (max-device-width: 640px) {
    #first-book {
      margin-top: 40px; } }
  #first-book div {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 500px; }
    @media screen and (min-device-width: 641px) and (max-device-width: 979px) {
      #first-book div {
        max-width: 400px; } }
  #first-book img:nth-child(1) {
    width: 100%;
    cursor: pointer;
    box-shadow: 8px 8px 16px #000000, 20px 20px 40px #000000;
    display: block;
    position: relative;
    z-index: 2; }
  #first-book img:nth-child(2) {
    left: 32px;
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 1; }
  #first-book p {
    margin-top: 50px;
    font-size: 24px;
    font-family: "Arial";
    color: #333333;
    line-height: 1.417;
    text-align: center;
    vertical-align: middle; }
    @media screen and (max-device-width: 640px) {
      #first-book p {
        margin-top: 40px; } }

#review {
  text-align: center;
  font-size: 21px;
  font-family: "Arial";
  color: #4d4d4d;
  line-height: 1.524; }
  @media screen and (min-device-width: 980px) {
    #review {
      display: block; } }
  @media screen and (min-device-width: 641px) and (max-device-width: 979px) {
    #review {
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
      width: 260px; } }
  @media screen and (max-device-width: 640px) {
    #review {
      margin-top: 60px; } }
  #review > img {
    height: 185px;
    width: 210px;
    margin: 0 auto; }
  #review p {
    font-size: 21px;
    font-family: "Arial";
    color: #4d4d4d;
    line-height: 1.524;
    display: inline-block;
    width: 218px; }
  #review div {
    margin-top: 25px;
    position: relative; }
    #review div img:first-child {
      position: absolute;
      top: 0.2em;
      left: 0;
      display: inline;
      vertical-align: middle;
      float: left; }
    #review div img:last-child {
      position: absolute;
      bottom: 0.2em;
      right: 0;
      float: right; }

.advantages {
  text-align: center;
  font-size: 21px;
  font-family: "Arial";
  color: #4d4d4d;
  line-height: 1.524; }
  @media screen and (min-device-width: 980px) {
    .advantages {
      display: block; } }
  @media screen and (min-device-width: 641px) and (max-device-width: 979px) {
    .advantages {
      margin-top: 60px;
      margin-left: auto;
      margin-right: auto;
      width: 260px; } }
  @media screen and (max-device-width: 640px) {
    .advantages {
      margin-top: 60px; } }
  .advantages div {
    line-height: 185px;
    height: 185px;
    width: 210px;
    margin: 0 auto; }
  .advantages img {
    position: relative;
    vertical-align: middle; }
  .advantages p {
    font-size: 21px;
    font-family: "Arial";
    color: #4d4d4d;
    line-height: 1.524;
    margin-top: 25px;
    width: 218px;
    margin-left: auto;
    margin-right: auto; }

@media screen and (min-device-width: 980px) {
  .block {
    margin-top: 50px;
    height: auto; }

  .leftSide {
    width: 260px;
    float: left; }

  .rightSide {
    width: 260px;
    float: right; } }
@media screen and (min-device-width: 641px) and (max-device-width: 979px) {
  .block {
    width: 100%;
    text-align: center;
    display: inline-block; }

  .leftSide {
    width: 50%;
    float: left;
    display: inline-block; }

  .rightSide {
    width: 50%;
    float: right;
    display: inline-block; } }
@media screen and (max-device-width: 640px) {
  .block {
    display: inline-block;
    text-align: center; }

  .leftSide {
    width: 260px;
    display: inline-block; }

  .rightSide {
    width: 260px;
    display: inline-block; } }
.buyBtn {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  line-height: 116px;
  text-align: center;
  background: linear-gradient(to top, #613c63, #855987);
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 10px #000000, 0 20px 40px #382539; }
  .buyBtn p {
    display: inline-block;
    vertical-align: middle;
    font-size: 32px;
    font-family: "Arial";
    color: white;
    line-height: 1.167; }

.buyBtn:hover {
  background: linear-gradient(to top, #49274b, #c28dc5); }

.buyBtn:active {
  background: linear-gradient(to top, #623a64, #865888);
  box-shadow: 0 1px 2px #000000, 0 5px 10px #382539; }

#skraffi {
  margin-top: 30px;
  font-size: 15px;
  font-family: "Arial";
  color: gainsboro;
  font-style: italic;
  line-height: 1.267;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
  #skraffi img {
    margin-top: 10px; }

/*# sourceMappingURL=book-view-page.css.map */
