@font-face {
  font-family: newFont;
  src: url("../fonts/alsfuchsia.otf"); }
h1 {
  font-family: "Arial";
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 38px;
  line-height: 46.018px;
  margin-top: 28.4955px; }
  @media screen and (min-device-width: 980px) {
    h1 {
      font-size: 72px;
      line-height: 84.024px;
      max-width: 1200px;
      margin-top: 38.994px;
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (min-device-width: 641px) and (max-device-width: 979px) {
    h1 {
      width: 400px;
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (min-device-width: 720px) and (max-device-width: 979px) {
    h1 {
      width: 600px; } }

h2 {
  font-size: 32px;
  font-family: "Arial";
  color: black;
  font-weight: bold;
  line-height: 1.688;
  text-align: left; }
  @media screen and (min-device-width: 980px) {
    h2 {
      font-size: 42px; } }

h3 {
  font-size: 24px;
  font-family: "Arial";
  color: black;
  font-weight: bold;
  line-height: 1.333; }

* {
  margin: 0;
  padding: 0; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0; }

body {
  margin: 0 auto; }
  @media screen and (min-device-width: 980px) {
    body {
      padding: 0 40px;
      max-width: 1286px;
      min-width: 1000px; } }
  @media screen and (min-device-width: 641px) and (max-device-width: 979px) {
    body {
      padding: 0 40px;
      max-width: 800px; } }
  @media screen and (max-device-width: 640px) {
    body {
      padding: 0 10px;
      width: 300px; } }

@media screen and (min-device-width: 980px) {
  header {
    margin-top: 60px; } }
@media screen and (min-device-width: 720px) and (max-device-width: 979px) {
  header {
    margin-top: 40px; } }
@media screen and (min-device-width: 641px) and (max-device-width: 719px) {
  header {
    text-align: center;
    margin-top: 40px; } }

#logo {
  cursor: pointer; }
  @media screen and (min-device-width: 980px) {
    #logo {
      height: 36px;
      margin-top: 0;
      width: auto;
      display: inline-block;
      float: left;
      vertical-align: middle; } }
  @media screen and (min-device-width: 720px) and (max-device-width: 979px) {
    #logo {
      height: 36px;
      margin-top: 0;
      width: auto;
      display: inline-block;
      float: left;
      vertical-align: middle; } }
  @media screen and (min-device-width: 641px) and (max-device-width: 719px) {
    #logo {
      width: 300px; } }
  @media screen and (max-device-width: 640px) {
    #logo {
      width: 100%;
      margin-top: 40px; } }

#search {
  height: 30px; }
  @media screen and (min-device-width: 980px) {
    #search {
      margin-top: 0;
      width: auto;
      height: 30px;
      display: inline-block;
      float: right;
      vertical-align: middle; } }
  @media screen and (min-device-width: 720px) and (max-device-width: 979px) {
    #search {
      margin-top: 0;
      width: auto;
      height: 30px;
      display: inline-block;
      float: right;
      vertical-align: middle; } }
  @media screen and (min-device-width: 641px) and (max-device-width: 719px) {
    #search {
      width: 300px;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (max-device-width: 640px) {
    #search {
      width: 100%;
      margin-top: 40px; } }

#searchField {
  width: 264px;
  line-height: 28px;
  border: 1px solid #b3b3b3;
  border-radius: 14px;
  display: inline-block;
  float: left;
  font-size: 15px;
  font-family: "Arial";
  color: #bfbfbf;
  text-align: left;
  z-index: 3; }
  #searchField img {
    vertical-align: middle;
    display: inline;
    padding-left: 8px; }
  #searchField img:hover {
    cursor: pointer; }

#enterBtn {
  width: 30px;
  line-height: 30px;
  display: inline-block;
  float: right;
  text-align: center; }
  #enterBtn img {
    vertical-align: middle;
    display: inline; }

#enterBtn:hover {
  outline: 1px solid #b3b3b3;
  cursor: pointer; }

footer {
  text-align: center;
  bottom: 0; }
  @media screen and (min-device-width: 980px) {
    footer {
      margin-top: 100px; } }
  @media screen and (min-device-width: 641px) and (max-device-width: 979px) {
    footer {
      margin-top: 80px; } }
  @media screen and (max-device-width: 640px) {
    footer {
      margin-top: 70px; } }
  footer img {
    vertical-align: top; }
  footer img:hover {
    cursor: pointer; }

form p {
  text-align: center; }

form input[type="submit"] {
  margin-left: auto;
  margin-right: auto; }

form div {
  float: left;
  display: inline-block;
  vertical-align: top;
  font-family: "Arial";
  font-size: 14px;
  line-height: 1.2; }

@media screen and (min-device-width: 980px) {
  .data {
    width: 80%; } }
@media screen and (min-device-width: 641px) and (max-device-width: 979px) {
  .data {
    width: 50%; } }

.firstRow, .secondRow {
  width: 100%; }

@media screen and (max-device-width: 640px) {
  .firstRow input {
    width: 100%; } }

.firstElem, .secondElem {
  margin-top: 20px; }
  @media screen and (min-device-width: 641px) and (max-device-width: 979px) {
    .firstElem, .secondElem {
      width: 100%; } }
  @media screen and (max-device-width: 640px) {
    .firstElem, .secondElem {
      width: 100%; } }

@media screen and (min-device-width: 980px) {
  .firstElem {
    width: 35%; } }

@media screen and (min-device-width: 980px) {
  .secondElem {
    width: 65%; } }

.pic {
  margin-top: 20px;
  text-align: center; }
  @media screen and (min-device-width: 980px) {
    .pic {
      width: 20%; } }
  @media screen and (min-device-width: 641px) and (max-device-width: 979px) {
    .pic {
      width: 50%; } }
  @media screen and (max-device-width: 640px) {
    .pic {
      width: 100%; } }
  .pic img {
    width: 100%; }

textarea {
  width: 90%;
  height: 100px; }
  @media screen and (max-device-width: 640px) {
    textarea {
      width: 100%; } }

p {
  margin-top: 30px;
  font-family: "Arial";
  font-size: 25px; }

#bookName {
  color: #4285be; }

#bookName:hover {
  color: #e72818;
  cursor: pointer; }

.error input, .error textarea {
  border: 1px solid red; }

.error {
  color: red; }
  @media screen and (max-device-width: 640px) {
    .error {
      display: block; } }

.error-message {
  color: white;
  background-color: red;
  border-radius: 4px; }
  @media screen and (min-device-width: 641px) {
    .error-message {
      margin-left: 4px;
      position: absolute; } }
  @media screen and (max-device-width: 640px) {
    .error-message {
      display: block; } }

/*# sourceMappingURL=buy-book-form-page.css.map */
