@import "font-settings"
@import "body-header-footer"

form p
	text-align: center
	
form input[type="submit"]
	margin-left: auto
	margin-right: auto

form div
	float: left
	display: inline-block
	vertical-align: top
	font-family: "Arial"
	font-size: 14px
	line-height: 1.2

.data
	@media screen and (min-device-width: 980px)
		width: 80%
	@media screen and (min-device-width: 641px) and (max-device-width: 979px)
		width: 50%
	
.firstRow, .secondRow
	width: 100%
	
.firstRow
	input
		@media screen and (max-device-width: 640px)
			width: 100%
	
.firstElem, .secondElem
	margin-top: 20px
	@media screen and (min-device-width: 641px) and (max-device-width: 979px)
		width: 100%
	@media screen and (max-device-width: 640px)
		width: 100%

.firstElem
	@media screen and (min-device-width: 980px)
		width: 35%
	
.secondElem
	@media screen and (min-device-width: 980px)
		width: 65%

.pic
	@media screen and (min-device-width: 980px)
		width: 20%
	@media screen and (min-device-width: 641px) and (max-device-width: 979px)
		width: 50%
	@media screen and (max-device-width: 640px)
		width: 100%
	margin-top: 20px
	text-align: center
	img
		width: 100%
		
textarea
	width: 90%
	height: 100px
	@media screen and (max-device-width: 640px)
		width: 100%

p
	margin-top: 30px
	font-family: "Arial"
	font-size: 25px

#bookName
	color: #4285be

#bookName:hover
	color: #e72818
	cursor: pointer

.error input, .error textarea
	border: 1px solid red

.error
	color: red
	@media screen and (max-device-width: 640px)
		display: block

.error-message
	color: white
	background-color: red
	border-radius: 4px
	@media screen and (min-device-width: 641px)
		margin-left: 4px
		position: absolute

	@media screen and (max-device-width: 640px)
		display: block