@import "font-settings"
@import "body-header-footer"

#books
	text-align: center
	.visible
		display: none
	
	@media screen and (min-device-width: 980px)
		padding: 0
		.visible
			display: block
			text-align: center
			margin-top: 50px
			margin-left: auto
			margin-right: auto
			width: 1000px
			
		.four-books
			display: block
			

	@media screen and (max-device-width: 640px)
		padding: 0 10px

.book
	margin-top: 60px
	
	@media screen and (min-device-width: 980px)
		display: inline-block
		float: left
		width: 25%
		
	@media screen and (min-device-width: 641px) and (max-device-width: 979px)
		display: inline-block
		float: left
		width: 50%
		
	div
		display: inline-block
		position: relative

	img:nth-child(1)
		box-shadow: 4px 4px 8px #000000, 10px 10px 20px #000000
		display: block
		position: relative
		z-index: 2

	img:nth-child(2)
		left: 25px
		cursor: pointer
		display: block
		position: absolute
		z-index: 1

	img:hover
		cursor: pointer

	p
		margin-top: 30px
		font-size: 19px
		font-family: "Arial"
		color: rgb(51, 51, 51)
		line-height: 1.368

	u
		color: #4285be

	u:hover
		color: #e72818
		cursor: pointer

@media screen and (max-width: 640px)
	.book:nth-of-type(1)
		margin-top: 40px

#btnOneMoreBook
	line-height: 40px
	width: 276px
	border: 2px solid #96c2e4
	border-radius: 7px
	margin-top: 50px
	margin-left: auto
	margin-right: auto
	
	p
		font-size: 17px
		font-family: "Arial"
		color: rgb(66, 133, 190)
		vertical-align: middle

	p:hover
		border-color: #e51907
		color: #e51907
		cursor: pointer
	
#btnOneMoreBook:hover
	border-color: #e51907
	color: #e51907
	cursor: pointer